<html>

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script src="../static/js/main.js"></script>
<script src="../static/js/arbor.js"></script>
<script src="../static/js/renderer.js"></script>
<script src="../static/js/graphics.js"></script>

</head>


<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Covid Watchers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<div class="main-container row" style="margin-top: 50px; margin-left: 50px;">

<div class="col-lg-4">

	<div class="row">

<!-- Modal -->
<div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
		<div class="input-group mb-3">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Name</span>
  		</div>
		 <input type="text" class="form-control" id="event-name">

		</div>

		<br>
			<div class="input-group mb-3">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Address</span>
  		</div>

		 <input type="text" class="form-control" id="event-address">
		</div>
		
	        <br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Number of Attendees</span>
  		</div>
		 <input type="number" class="form-control" id="event-attendee-count">
		</div>
			
		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Social Distance Rating</span>
  		</div>

		 <input type="number" class="form-control" id="social-distance-rating">
		</div>
		
		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Mask Compliance Rating</span>
  		</div>

		 <input type="number" class="form-control" id="mask-compliance-rating">
		</div>

		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Check In Date</span>
  		</div>

		 <input type="text" class="form-control" id="check-in-date">
		</div>
		
		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Check Out Date</span>
  		</div>

		 <input type="text" class="form-control" id="check-out-date">
		</div>
	
         	<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Open Space</span>
  		</div>

		 <input type="text" class="form-control" id="open-space">
		</div>
	
 		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Update Date</span>
  		</div>

		<input type="text" class="form-control" id="updated-date">
		</div>
	<br>
	<hr>
	<button type="button" class="btn btn-primary" id="save-event-btn">Save changes</button>
	<button type="button" class="btn btn-info" id="reset-values-event-modal">Reset Values</button>
      </div>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="test-result-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Test Result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
		<div class="input-group mb-3">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Test Date</span>
  		</div>
		 <input type="date" class="form-control" id="test-date-in-modal">

		</div>

		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Test Result</span>
  		</div>

		 <input type="text" class="form-control" id="test-result-in-modal">
		</div>

	<br>
	<hr>
	<button type="button" class="btn btn-primary" id="save-test-result-btn">Save changes</button>
	<button type="button" class="btn btn-info" id="reset-values-test-result-modal">Reset Values</button>
      </div>
    </div>
</div>
</div>

<!-- Relationship Modal -->
<div class="modal fade" id="relationship-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Relationship</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
   <div class="input-group mb-2">
      <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Relationship email</span>
      </div>
     <input type="text" class="form-control" id="relationship-email-in-modal">

    </div>
    <br>
      <div class="input-group mb-2">
      <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Relationship Type</span>
      </div>

     <input type="text" class="form-control" id="relationship-type-in-modal">
    </div>

  <br>
  <hr>
  <button type="button" class="btn btn-primary" id="save-relationship-btn">Save changes</button>
  <button type="button" class="btn btn-info" id="reset-values-relationship-modal">Reset Values</button>
      </div>
    </div>
</div>
</div>
 

        	<button class="btn btn-primary" type="button" id="create-event-btn" style="margin-right: 10px;" data-toggle="modal" data-target="#event-modal">
		Create Event
		</button>

        	<button class="btn btn-warning" type="button" id="add-test-result-btn" data-toggle="modal" data-target="#test-result-modal">
		Add Test Result
		</button>

          <button class="btn btn-success" style="margin-left: 10px;" type="button" id="add-relationship-btn" data-toggle="modal" data-target="#relationship-modal">
    Add Relationship
    </button>

	</div>
	
	<br>
	<br>

	Name: Aditya  

	<br>
	<br>

	Risk Level (1-5): 2 Low Severity 

	<br>
	
</div>

<div class="col-lg-4">

	<canvas id="viewport" width="800" height="600"></canvas>

	<script language="javascript" type="text/javascript">
	var friends = new Array();
	setInterval(function(){ 
		getRelationshipData('http://localhost:5000/relationship/getRelationship'); 
		getSeverityLevelData();
	}, 10000);
	
	setInterval(function(){ 
		updateGraph();
	}, 13000);
		
	function getRelationshipData(url) {
		$.ajax({
			'url' : url,
			'type' : 'GET',
			contentType: 'application/json',
			'success' : function(data) {              
				window['relationshipData']=data;
			},
			'error' : function(request,error)
			{
				console.log("Request: "+JSON.stringify(request));
			}
		}); 
	}

	function getSeverityLevelData(url) {
		$.ajax({
			'url' : 'http://localhost:5000/relationship/getFriendsUserInfo',
			'type' : 'GET',
			contentType: 'application/json',
			'success' : function(data) {              
				window['severityLevelData']=data;
			},
			'error' : function(request,error)
			{
				console.log("Request: "+JSON.stringify(request));
			}
		}); 
	}

	function updateGraph(data) {
	
			var relationshipData = window['relationshipData'];
			var severityLevelData = window['severityLevelData'];

			//console.log("RelationshipData: " + JSON.stringify(relationshipData));
			//console.log("severityLevelData: " + JSON.stringify(severityLevelData));

			generatedNodes = []
			
			var sys = arbor.ParticleSystem(1000, 400,1);
			myNode = { 'color': 'green', 'shape': 'dot', 'label': 'Me' }
			var myAddedNode = sys.addNode('me', myNode);
			relationshipData.forEach(function(entry) {
				var obj = severityLevelData.filter(obj => {
					return obj.id == entry['friendId'];
				});
				
				console.log('this severity object: ' + JSON.stringify(obj));
				var colorValue = 'green';

				var score = parseInt(obj[0]['riskScore']);
				if ( score == 5)
				{
					colorValue = 'red';
				}
				else if ( score >= 4) {

					colorValue = 'brown';
				}
				else if ( score  >= 3) {
					colorValue = 'orange';
				}
				else if ( score >= 2) {
					colorValue = 'yellow'
				}

				console.log('score: ' + score);
				console.log('colorValue: ' + colorValue);
				node = { 'color':  colorValue, 'shape': 'dot', 'label': obj[0]['name'] + ' Risk-Score: ' + obj[0]['riskScore'] } 
				console.log("node added: " + JSON.stringify(node));
				generatedNodes.push(node);
			});
	
			var sys = arbor.ParticleSystem(1000, 400,1);
		    	sys.parameters({gravity:true});
		    	sys.renderer = Renderer("#viewport");
		    	console.log('gneerated nodes: ' + generatedNodes.length);

			


			var returnValuesForNodes = []
			for (i = 0; i < generatedNodes.length; i++) {
			     sys.addNode(i.toString(), generatedNodes[i]);
			} 

			//console.log('returnvalueslist +'  + JSON.stringify(returnValuesForNodes));

			//for(i = 0; i < returnValuesForNodes.length; i++) {
				//sys.addEdge(myAddedNode, returnValuesForNodes[0]);
			//}
			
			sys.graft(data);
		}
    </script>
	
</div>

</div>

</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>

</html>
