<html>

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script src="../static/js/main.js"></script>
<script src="../static/js/arbor.js"></script>
<script src="../static/js/renderer.js"></script>
<script src="../static/js/graphics.js"></script>

</head>


<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Covid Watchers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<div class="main-container row" style="margin-top: 50px; margin-left: 50px;">

<div class="col-lg-4">

	<div class="row">

<!-- Modal -->
<div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
		<div class="input-group mb-3">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Name</span>
  		</div>
		 <input type="text" class="form-control" id="event-name">

		</div>

		<br>
			<div class="input-group mb-3">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Address</span>
  		</div>

		 <input type="text" class="form-control" id="event-address">
		</div>
		
	        <br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Number of Attendees</span>
  		</div>
		 <input type="number" class="form-control" id="event-attendee-count">
		</div>
			
		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Social Distance Rating</span>
  		</div>

		 <input type="number" class="form-control" id="social-distance-rating">
		</div>
		
		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Mask Compliance Rating</span>
  		</div>

		 <input type="number" class="form-control" id="mask-compliance-rating">
		</div>

	<br>
	<hr>
	<button type="button" class="btn btn-primary">Save changes</button>
	<button type="button" class="btn btn-info" id="reset-values-event-modal">Reset Values</button>
      </div>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="test-result-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Test Result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
		<div class="input-group mb-3">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Test Date</span>
  		</div>
		 <input type="date" class="form-control" id="test-date-in-modal">

		</div>

		<br>
			<div class="input-group mb-2" style="width: 100px;">
  		<div class="input-group-prepend">
    			<span class="input-group-text" id="basic-addon1">Test Result</span>
  		</div>

		 <input type="text" class="form-control" id="test-result-in-modal">
		</div>

	<br>
	<hr>
	<button type="button" class="btn btn-primary">Save changes</button>
	<button type="button" class="btn btn-info">Reset Values</button>
      </div>
    </div>
</div>
</div>
 

        	<button class="btn btn-primary" type="button" id="create-event-btn" style="margin-right: 10px;" data-toggle="modal" data-target="#event-modal">
		Create Event
		</button>

        	<button class="btn btn-warning" type="button" id="add-test-result-btn" data-toggle="modal" data-target="#test-result-modal">
		Add Test Result
		</button>
	</div>
	
	<br>
	<br>

	Name: Aditya  

	<br>
	<br>

	Risk Level (1-5): 2 Low Severity 

	<br>
	
</div>

<div class="col-lg-4">

	<canvas id="viewport" width="800" height="600"></canvas>

	<script language="javascript" type="text/javascript">
	var friends = new Array();
	setInterval(function(){ 
		getData('http://localhost:5000/relationship/getRelationship') 
	}, 5000);
			
			
			function getData(url) {
				// // const url1 = 'http://localhost:5000/relationship/getRelationship';
				// fetch(url)
				// .then(response => response.json())
				// .then(json => {
				// 	// console.log(json);
				// 	friends.push(json);
				// 	// document.getElementById("userId").innerHTML = JSON.stringify(json)
				// });

				$.ajax({
						'url' : url,
						'type' : 'GET',
						contentType: 'application/json',
						'success' : function(data) {              
							console.log("data" + JSON.stringify(data));
							// friends.push(data);
							window['data']=data;
						},
						'error' : function(request,error)
						{
							alert("Request: "+JSON.stringify(request));
						}
					}); 
			}

			const colors = ['red', 'green', 'blue', 'yellow'];
			var color = colors[Math.floor(Math.random() * colors.length)];
			console.log(color);
			var friends = getData('http://localhost:5000/relationship/getRelationship');
			setInterval(function() 
			{
				console.log(window['data']);
			}, 1000);
			friendsData = [];
			nodesTmp = {};
			edgesTmp = {};

			// friends.foreach(fetchFriendsData);

			// for(i=0;i<friends.length;i++)
			// {
			// 	data = getData('http://localhost:5000/user/getUserById?uid=' + friends[i]['friendId']);
			// 	friendsData.push({'key': data['name'], 'value': data['riskScore']});
			// }

			// console.log(friendsData);

			var sys = arbor.ParticleSystem(1000, 400,1);
            sys.parameters({gravity:true});
            sys.renderer = Renderer("#viewport");
            var data = {
				
               	nodes: {
					me:{'color':'red','shape':'dot','label':'phani'},
					person1:{'color':'green','shape':'dot','label':'person1'},
					person2:{'color':'blue','shape':'dot','label':'person2'}
				}, 
               edges:{
                 	me:{ person1:{}, person2:{} }
               }
             };
            sys.graft(data);
            setTimeout(function(){
                        var postLoadData = {
                           nodes:{
                             person3:{'color':'orange','shape':'dot','label':'person3'},
                             person4:{'color':'green','shape':'dot','label':'person4'},
                             person5:{'color':'blue','shape':'dot','label':'person5'}
                           }, 
                           edges:{
                                person1:{ person3:{} },
                                person2:{ person4:{} },
                                person3:{ person4:{},person5:{} }
                           }
                         };
                         sys.graft(postLoadData);
                    },1000);	
	</script>
	
</div>

</div>

</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>

</html>
